* {
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 65px;
    margin: 55px 0 40px 0;
}

.content-container {
    border-left: 1px solid #b1b1b2;
    border-right: 1px solid #b1b1b2;
    display:flex;
    flex-direction: row;
}

.content-container.first-container {
    border-top: 2px solid #010001;
}

.content-container.second-container {
    border-top: 1px solid #b1b1b2;
    border-bottom: 2px solid #010001;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corner-box {
    width: 25%;
}

.mid-box {
    border-left: 1px solid #b1b1b2;
    border-right: 1px solid #b1b1b2;
    width: 50%;
}

.subject-box {
    border-left: 1px solid #b1b1b2;
    display: flex;
    flex-direction: column;
    width: 75%;
}

.subject-box span {
    color: #666567;
    font-family: 'Overpass', sans-serif;
    font-size: 35px;
    height: 25%;
    padding: 20px 0 0 40px;
}

.content-title {
    font-size: 30px;
    font-style: italic;
    margin: 36px 0 0 0;
}

.content-text {
    padding: 0 15px 0 15px;
}

.content-img {
    margin: 25px 0 0 0;
    width: 96%;
}

.politics {
    background: #fdebaf;
}

.technology {
    background: #9aeaeb;
}

.local {
    background: #82ebc7
}

.opinion {
    background: #81b9f9;
}

.sports {
    background: #9f9df8;
}